.home_container{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.about_text{
    width: 50%;
    margin-left: 5%;
}

.img_container{
    width: 50%;
}

.head{
    display: flex;
    justify-content: center;
    color:blueviolet
}

.home{
    margin-top: 1%
}

.name{
    font-weight: bold;
    color: coral;
}

.about_home{
    padding-top: 3%;
}

